* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header1 {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li a {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .hero1 {
    background-image: url("./banner.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
  }
  
  .hero-content1 {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .visit {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
  }
  
  .visit-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .visit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4c8bf5;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .visit-info {
    margin-top: 10px;
    color: #777777;
  }

  footer {
    background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  }



  
  .footer{
    width: 100%;
    text-align: center;
    padding:  30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding:  18px 0;
}
.fa-heart-o{
    color: #f44336;  
}
.fa-copyright{
    color: #f44336;
}
